doctype html
html
  head
    title= name
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet',href='libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet',href='css/styles.css')
  body
    .container
      .row
        #main.col-lg-12.v-center

    script(src='libs/jquery/jquery.min.js')
    script(src='libs/bootstrap/dist/js/bootstrap.min.js')
    script(src='libs/handlebars/handlebars.runtime.min.js')
    script(src='js/templates.js')
    script(src='js/modules.js')
    script(src='js/app.js')

//-    script(type='text/coffeescript',src='js/app.coffee')
//-    script(src='//cdnjs.cloudflare.com/ajax/libs/coffee-script/1.6.3/coffee-script.min.js')
