@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
body {
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  font-weight: 300;
}
.v-center {
  margin-top: 20%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
}
h1 {
  font-size: 28px;
}
h2 {
  color: #393939;
}
h3,
h4,
h5,
h6 {
  color: #494949;
}
a {
  color: #39c;
  font-weight: 400;
  text-decoration: none;
}
a small {
  font-size: 11px;
  color: #777;
  margin-top: -0.6em;
  display: block;
}
blockquote {
  border-left: 1px solid #e5e5e5;
  font-style: italic;
}
code,
pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #333;
  font-size: 12px;
}
pre {
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}
th,
td {
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
}
dt {
  color: #444;
  font-weight: 700;
}
th {
  color: #444;
}
