{
  "development": {
    "logLevel": 6,
    "port": 8090,
    "mongodb": "",
    "dumpExceptions": true,
    "showStack": true
  },
  "production": {
    "logLevel": 4,
    "port": 8080,
    "mongodb": "",
    "dumpExceptions": false,
    "showStack": false
  }
}
